* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

table {
    border: 1px solid #234465;
    padding: 1%;
    margin: 0 auto;
    width: 70%;
    border-radius: 4px;
}

table th {
    text-decoration: underline;
    text-align: center;
}

table tbody td {
    text-align: center;
    border-bottom: 1px solid black;
    padding: 0.5%;
}

table tbody tr:nth-child(even) {
    background-color: #234465;
    color: white
}

table tbody tr:nth-child(odd) {
    color: #234465;
    border-bottom: 1px solid black;
}

table tbody tr:nth-child(odd) button {
    background: #234465;
    color: white;
}

table tbody tr:nth-child(even) button {
    background: white;
    color: #234465;
}

table tr td:not(:last-child):hover {
    text-decoration: underline;
}

table button {
    border: none;
    padding: 5px;
    border-radius: 5px;
    margin-left: 8%;
}

table button:hover {
    text-decoration: underline;
}

button#loadBooks {
    margin: 0 auto;
    display: block;
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 4px;
}

label,
input {
    display: block;
    margin: 0 auto;
}

form input {
    margin-bottom: 1%;
    width: 25%;
}

form {
    display: block;
    margin: 0 auto;
    text-align: center;
}

form button {
    margin: 0 auto;
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 4px;
    background-color: #234465;
    color: white;
    border: none;
    padding: 0.5%;
}


/* -------------------- */

button {
    position: relative;
    padding: 20px 50px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    width: 200px;
    overflow: hidden;
    border-radius: 40px;
    border: none;
}

button span {
    position: relative;
    color: #fff;
    fot-size: 20px;
    font-family: Arial;
    letter-spacing: 8px;
    z-index: 1;
}

button .liquid {
    position: absolute;
    top: -80px;
    left: 0;
    width: 200px;
    height: 200px;
    background: #4973ff;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
    transition: .5s;
}

button .liquid::after,
button .liquid::before {
    content: '';
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
    background: #fff;
}

button .liquid::before {
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: animate 5s linear infinite;
}

button .liquid::after {
    border-radius: 40%;
    background: rgba(20, 20, 20, .5);
    animation: animate 10s linear infinite;
}

button:hover .liquid {
    top: -120px;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}